<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<!-- <link rel="stylesheet" href="style.css"> -->
<!-- <link rel="stylesheet" href="style.css"> -->
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">


  
</head>

<body>
 <div class="login">
	<h1> Predict Tubercolosis </h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="/image" method="post" enctype="multipart/form-data">
      <label for="img">Select image:</label>
    	<input type="file" name="images" placeholder="Sputum Sample" accept="image/*" required="required" />
        <!-- <input type="text" name="test_score" placeholder="Test Score" required="required" />
		    <input type="text" name="interview_score" placeholder="Interview Score" required="required" /> -->
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

  
   

 </div>


</body>
</html>
